body {
  background-color: #f8f9fa;
}
h1 {
  font-family: "Press Start 2P", cursive;
  color: #89aee1;
}
h2 {
  font-family: "Press Start 2P", cursive;
}
h3 {
  font-family: "Cherry Bomb", cursive;
}
h4 {
  font-family: "Cherry Cream Soda", cursive;
}
.jumbotron {
  border-radius: 0%;
}
